<div class="container__main-content">
    <section>
        <div class="container__main-content__banner">
            <div class="container__main-content__banner__text">
                <h1>Potfólio Angular</h1>
                <p>
                    Olá, Eu sou o <span>Augusto Ribeiro</span> um <span>desenvolvedor full stack.</span><br>
                    Sou um desenvolvedor apaixonado por tecnologia em busca de oportunidades para crescer 
                    e contribuir no mundo da programação.
                </p>
                <div class="container__main-content__banner__social-btn">
                    <social-btn icon="bi bi-linkedin" site-link="https://www.linkedin.com/in/augusto-ribeiro-9797121b2/"></social-btn>
                    <social-btn icon="bi bi-github" site-link="https://github.com/augustorib"></social-btn>
                </div>
            </div>
            <div class="container__main-content__banner__image">
                <img src="../../../assets/img/profile.jpg" alt="profilePic">
            </div>
        </div>
    </section>
</div>
