<div class="container__footer">
    <footer>

        <div class="container__footer__credit">

            <div class="container__footer__credit__text">
                 <p>Projeto inspirado em: <span>Inteliogia - Dev's Insights</span></p>
            </div>

            <div class="container__footer__credit__socialbtn">
                 <social-btn icon="bi bi-youtube"
                             site-link="https://www.youtube.com/watch?v=3v2RUozpDVw&list=PLaLQ4gJXUd6DP5n1t8r4rwF40ahLgUlMg&index=1"
                 >
                 </social-btn>
            </div>

        </div>

        <hr>
        
        <div class="container__footer__angular">
            <p>powered by Angular 17</p>
        </div>

    </footer>
</div>
