<div class="container__home">

    <div class="container__home__main">
        <main-content></main-content>
    </div>
    
    <div class="container__home__title-margin">
        <section-title sectionTitle="Minhas Competências" id="specialities"></section-title>
    </div>

    <div class="container__home__specialities">
        <specialities-box></specialities-box>
        <specialities-box 
            icon="bi bi-file-earmark-bar-graph-fill"
            specialities-title="Report Builder"
            paragraphText="Report Builder 3.0 (VBscript + SQL Server) e RBuilder (Delphi + SQL Server)"
        >
        </specialities-box>
        <specialities-box
            icon="bi bi-braces"
            specialities-title="Framework"
            paragraphText="Noções em alguns frameworks back-end, .Net Core, Laravel, e front-end Angular framework"
        >
        </specialities-box>
    </div>

    <div class="container__home__title-margin">
        <section-about id="about"></section-about>
    </div>
    
    <section-projects id="projects"></section-projects>


    <!-- <section-contact-me id="contact"></section-contact-me> -->

</div>

