<div class="container__section-about">

    <section-title sectionTitle="Sobre Min"></section-title>

    <section>
        <div class="container__section-about__img">
            <img src="../../../assets/img/onePunch.jpg" alt="profile picture">
        </div>

        <div class="container__section-about__text"> 
            <p>
                Sou um desenvolvedor apaixonado por tecnologia em busca de oportunidades para 
                crescer e contribuir no mundo da programação.
            </p>
            <p>
                Minhas principais experiências são com SQL Server, em conjunto com ferramentas de elaboração de relatórios
                como por exemplo: Report Builder 3.0 (VBscript + SQL Server) e RBuilder (Delphi + SQL Server). 
                Também possuo noções de desenvolvimento full stack. 
            </p> 
            <p>
                Procuro melhorar minhas habilidades e aprender continuamente, não somente na área de desenvolvimento, 
                a fim de contribuir para o sucesso pessoal e da organização
            </p>
            <div class="container__section-about__social-btn">
                <social-btn icon="bi bi-linkedin" site-link="https://www.linkedin.com/in/augusto-ribeiro-9797121b2/"></social-btn>
                <social-btn icon="bi bi-github" site-link="https://github.com/augustorib"></social-btn>
            </div>
        </div>
    </section>
</div>
