<div class="container__section-about">

    <section-title sectionTitle="Sobre Mim"></section-title>

    <section>
        <div class="container__section-about__img">
            <img src="../../../assets/img/profile.jpg" alt="profile picture">
        </div>

        <div class="container__section-about__text"> 
            <p>
                Sou um desenvolvedor apaixonado por tecnologia em busca de oportunidades para 
                crescer e contribuir no mundo da programação.
            </p>
            <p>
                Minhas principais experiências são com SQL Server, em conjunto com ferramentas de elaboração de relatórios
                como por exemplo: Report Builder 3.0 (VBscript + SQL Server) e RBuilder (Delphi + SQL Server). 
                Também possuo noções de desenvolvimento full stack. 
            </p> 
            <p>
                Procuro melhorar minhas habilidades e aprender continuamente, não somente na área de desenvolvimento, 
                a fim de contribuir para o sucesso pessoal e da organização
            </p>
            <div class="container__section-about__tecnologies">
                <img src="{{pathTecnologieImage + 'angular.png'}}" alt="html5" width="60px" height="60px">
                <img src="{{pathTecnologieImage + 'typescript.png'}}" alt="html5" width="60px" height="60px">
                <img src="{{pathTecnologieImage + 'html5.png'}}" alt="html5" width="60px" height="60px">       
                <img src="{{pathTecnologieImage + 'css.png'}}" alt="html5" width="60px" height="60px">
                <img src="{{pathTecnologieImage + 'js.png'}}" alt="html5" width="60px" height="60px">
            </div>
        </div>
    </section>
</div>
