<div class="container__menu-bar">

    <header>
        <div class="container__menu-bar__interface">
            <div class="container__menu-bar__interface__logo">
                <a href="#">
                    <img src="../../../assets/img/profile.jpg" alt="profile picture" width="50px" height="50px">
                </a>
            </div>
        </div>

        <div class="container__menu-bar__menu-desktop">
            <nav>
                <ul>
                    <li><a routerLink="">Início</a></li>
                    <li><a routerLink="/skills">Competências</a></li>
                    <li><a routerLink="/about">Sobre</a></li>
                    <li><a routerLink="/projects">Projetos</a></li>
                </ul>
            </nav>
        </div>

        <div class="container__menu-bar__mobile-title">
            <p>{{_menuMobileTitleService.menuMobileTitle}}</p>
        </div>

        <div class="container__menu-bar__open-menu-mobile" (click)="openMenuMobile()">
            <i class="bi bi-list"></i>
        </div>
        
    </header>

</div>