<div class="container__menu-bar">

    <header>
        <div class="container__menu-bar__interface">
            <div class="container__menu-bar__interface__logo">
                <a href="#">
                    <img src="../../../assets/img/onePunch.jpg" alt="profile picture" width="50px" height="50px">
                </a>
            </div>
        </div><!--container__menu-bar__interface-->

        <div class="container__menu-bar__menu-desktop">
            <nav>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="/skills">Competências</a></li>
                    <li><a routerLink="/about">Sobre</a></li>
                    <li><a href="/projects">Projetos</a></li>
                </ul>
            </nav>
        </div><!--container__menu-bar__menu-desktop-->

        <div class="container__menu-bar__btn-contact">
            <a href="/contact">
                <button>Contato</button>
            </a>
        </div>

        <div class="container__menu-bar__open-menu-mobile" (click)="OpenMenuMobile()">
            <i class="bi bi-list"></i>
        </div>
        
    </header>

</div>