.container__menu-bar{ 
    position: sticky; 
    top: 0;
    padding: 15px 5%;
    z-index: 9999;
    background-color: black;
}   

.container__menu-bar > header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container__menu-bar__interface__logo img{
    border-radius: 50%;
}

.container__menu-bar__menu-desktop a {
    text-decoration: none;
    font-weight: bold;
    color: #718185;
    display: inline-block;
    transition: .2s;
 
}

.container__menu-bar__menu-desktop a:hover{
    color: #43d6f7;
    transform: scale(1.5);
}

.container__menu-bar__menu-desktop nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 0 40px;
}

.container__menu-bar__btn-contact button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400px;
    border: 0;
    background-color: #43d6f7;
    border-radius: 30px;
    transition: .2s;
}

.container__menu-bar__btn-contact button:hover {
    box-shadow: 0px 0px 10px #64e3ff;
    transform: scale(1.1);

}


.container__menu-bar__mobile-title{
    display: none;
}

.container__menu-bar__open-menu-mobile {
    color: var(--app-color);
    font-size: 35px;
    display: none;
}

@media screen and (max-width: 1020px){
    .container__menu-bar__menu-desktop, .container__menu-bar__btn-contact {
        display: none;
    }

    .container__menu-bar__mobile-title{
        display: block;
        font-size: 25px;
        font-weight: bold;
        color: #718185;
    }

    .container__menu-bar__open-menu-mobile{
        display: inline;
    }
}