<div class="container__section-contact-me">

    <section-title sectionTitle="Fale Comigo"></section-title>

    <div class="container__section-contact-me__interface">

        <form action="">
            <input type="text" name="" id="" placeholder="Digite seu nome:" required>
            <input type="text" name="" id="" placeholder="Digite seu e-mail:" required>
            <textarea name="" id="" cols="30" rows="10" placeholder="Digite aqui a mensagem:" required></textarea>

            <div class="container__section-contact-me__interface__btnEnviar">
                <input type="submit" value="Enviar Mensagem">
            </div>
        </form> 

    </div>
</div>