<div class="container__skills-page">
    <specialities-box></specialities-box>
    <specialities-box 
        icon="bi bi-file-earmark-bar-graph-fill"
        specialities-title="Report Builder"
        paragraphText="Report Builder 3.0 (VBscript + SQL Server) e RBuilder (Delphi + SQL Server)"
    >
    </specialities-box>
    <specialities-box
        icon="bi bi-braces"
        specialities-title="Framework"
        paragraphText="Noções em alguns frameworks back-end, .Net Core, Laravel, e front-end Angular framework"
    >
    </specialities-box>
</div>