<div class="container__menu-mobile" (click)="closeMenuMobile()">

    <div class="container__menu-mobile__btn-close">
        <i class="bi bi-x-circle"></i>
    </div>

    <div class="container__menu-mobile__nav">
        <nav>
            <ul>
                <li><a routerLink=""          (click)="getClickedOption('Início')">Início</a></li>
                <li><a routerLink="/skills"   (click)="getClickedOption('Competências')">Competências</a></li>
                <li><a routerLink="/about"    (click)="getClickedOption('Sobre')">Sobre</a></li>
                <li><a routerLink="/projects" (click)="getClickedOption('Projetos')">Projetos</a></li>
                <!-- <li><a routerLink="/contact"  (click)="getClickedOption('Contato')">Contato</a></li> -->
            </ul>
        </nav>
    </div>

</div>