<div class="container__menu-mobile" (click)="CloseMenuMobile()">

    <div class="container__menu-mobile__btn-close">
        <i class="bi bi-x-circle"></i>
    </div>

    <div class="container__menu-mobile__nav">
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="/skills">Competências</a></li>
                <li><a routerLink="/about">Sobre</a></li>
                <li><a href="/projects">Projetos</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>
    </div>

</div>