<div class="container__section-projects">

    <section-title sectionTitle="Meus Projetos"></section-title>

    <section>
        <project-box image="../../../assets/img/projects/gameflix.png" 
                     overlayText="GameFlix"
                     site="https://augustorib.github.io/DIO_CarrefourWebDeveloper2022/">
        </project-box>

        <project-box image="../../../assets/img/projects/marvelBlog.png" 
                     overlayText="Marvel Blog"
                     site="https://marvel-blog-angular14.vercel.app">
        </project-box>
        
        <project-box image="../../../assets/img/projects/pokedex-js.png" 
                     overlayText="Pokedex"
                     site="https://js-pokedex-pan.vercel.app/">
        </project-box>  
    </section>

</div>