<div class="container__section-projects">

    <section-title sectionTitle="Meus Projetos"></section-title>

    <section>
        <project-box image="../../../assets/img/projects/gameflix.png" 
                    overlayText="GameFlix"
                    site="https://augustorib.github.io/DIO_CarrefourWebDeveloper2022/"

                    [tecnologies]= "['../../../assets/img/tecnologies/html5.png',
                            '../../../assets/img/tecnologies/css.png',
                            '../../../assets/img/tecnologies/js.png',
                     ]">
        </project-box>

        <project-box image="../../../assets/img/projects/marvelBlog.png" 
                     overlayText="Marvel Blog"
                     site="https://marvel-blog-angular14.vercel.app"

                     [tecnologies]= "[ '../../../assets/img/tecnologies/angular.png',
                            '../../../assets/img/tecnologies/typescript.png',
                            '../../../assets/img/tecnologies/html5.png',
                            '../../../assets/img/tecnologies/css.png',
                     ]">
        </project-box>
        
        <project-box image="../../../assets/img/projects/pokedex-js.png" 
                     overlayText="Pokedex"
                     site="https://js-pokedex-pan.vercel.app/"

                     [tecnologies]= "[ '../../../assets/img/tecnologies/js.png',
                                       '../../../assets/img/tecnologies/html5.png',
                                       '../../../assets/img/tecnologies/css.png',
                     ]">
        </project-box> 

        <project-box image="../../../assets/img/projects/buzzFeed.png" 
                     overlayText="BuzzFeed"
                     site="https://angular-buzzfeed-pokemon.vercel.app/"

                     [tecnologies]= "[ '../../../assets/img/tecnologies/angular.png',
                                       '../../../assets/img/tecnologies/typescript.png',
                                       '../../../assets/img/tecnologies/html5.png',
                                       '../../../assets/img/tecnologies/css.png',
                     ]">
        </project-box>  
    </section>

</div>